.DS_Store
Discovery_driven_data_aumentation.pptx
figures
__pycache__
plots
CrabNet/CrabWeights
pymatviz
literature
datasets_backup
distance_matrices
CrabNet/models
CrabNet/__pycache__
lightning_logs

results_ratios.pkl
results_ratios_bandgap.pkl
datasets/raw_mpds_data.pkl